
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="over" [opened]="false" >
    <mat-toolbar color="primary">Menu</mat-toolbar><!-- This is the title of the menu  -->
    <mat-nav-list>
      <a mat-list-item href="#">Default</a>
      <a mat-list-item href="dash">Example Dashboard</a>
      <a mat-list-item href="table">Example Table</a>
    </mat-nav-list>
  </mat-sidenav>j
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button type="button" aria-label="Toggle sidenav" (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="proj-title">ProjectVA</span>
      <!-- Filler to take the remaining space of the row -->
      <span class="fill-remaining-space"></span>
      <mat-icon class="icon-style">favorite</mat-icon>
      <!-- <mat-icon class="icon-style">delete</mat-icon>
      <mat-icon class="icon-style">verified_user</mat-icon> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
[mode]="(isHandset$ | async) ? 'over' : 'side'"
[opened]="!(isHandset$ | async)" -->