.sidenav-container {
  height: 100%;
}
.proj-title {
  margin-left: 10px;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

icon-style {
  padding: 0 14px;
}